<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ListenerClass"></listener>
	</listeners>
	<parameter name="baseUrl" value="https://www.mytinytodo.net/demo/#list/1" />
	<test thread-count="1" name="Test" parallel="classes">
		<classes>
			<class name="tests.MoveShowAndHideTasksInformationTest" />
			<class name="tests.ListsAndRenameTitleTest" />
			<class name="tests.SearchTasksTest" />
			<class name="tests.AddTasksTest" />
			<class name="tests.DeleteAndEditTaskTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
